<div class="row-message">
    {{ message|raw }}
</div>

<div class="row-buttons">
    <div><button type="button" class="btn btn-primary close">Non</div>
    <div><button type="button" class="btn btn-danger" id="yes-button">Oui</div>
</div>