<h1>Demande de mot de passe oublié</h1>

<p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

<p>Vous avez effectué une demande de mot de passe oublié. Pour le réinitialiser,</p>

<p><a href="{{ url|raw }}">Cliquez-ici</a></p>

<p>Bien à vous,</p>

<p>Marinette.dev</p>